
@{
}


 <div class="jumbotron">
        <h1>Welcome to Timesheets</h1>
     <p>
         This is a sample ASP.NET MVC 5 application using EntityFramework 6 architectured in a
         3 layer design in an attempt to demonstrate some good practice.
        
     </p>
        
      </div>